# Java Gradle Github actions CI configuration file

# For more information see: https://docs.github.com/en/enterprise-cloud@latest/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  run-efsity-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Run Unit Tests and Generate Coverage Report
        run: ./gradlew test jacocoTestReport
        working-directory: efsity

  run-spotless-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Run spotless check
        run: ./gradlew spotlessCheck
        working-directory: efsity

  run-importer-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate Importer Report
        run: |
          python3 -m venv venv
          source venv/bin/activate
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest-cov
          pytest --doctest-modules --cov=.
        working-directory: importer

  run-cleaner-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate Cleaner Report
        run: |
          python3 -m venv venv
          source venv/bin/activate
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest-cov
          pytest --doctest-modules --cov=.
        working-directory: cleaner
